.homeContainer {
    /* background-color:#e56161; */
}

.logo {
    margin-left: 350px;
    margin-top: 60px;
}

.navitem1 {
    display: flex;
    margin-left: 660px;
    margin-top: -30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

.navitem2 {
    display: flex;
    margin-left: 800px;
    margin-top: -20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

.navitem3 {
    /* display: flex; */
    margin-left: 940px;
    margin-top: -20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

.navitem4 {
    display: flex;
    margin-left: 1071px;
    margin-top: -20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

.navitem5 {
    display: flex;
    margin-left: 1300px;
    margin-top: -18px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
}

.content1 {
    margin-left: 350px;
    margin-top: 100px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #0B132A;
}

.content2 {
    margin-left: 350px;
    margin-top: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight:500;
    font-size: 16px;
    line-height: 25px;
    color: #4F5665;
}

.btn1 {
    margin-left: 350px;
    margin-top: 20px;
    padding: 10px 22px;
    background-color: red;
    color: white;
    border: none;
}

.illustration1 {
    display: flex;
    margin-left: 1000px;
    margin-top: -270px;
    width: 31%;
}


.pattern1 {
    margin-left: 365px;
    margin-top: 100px;
}

.p1content1 {
    margin-left: 440px;
    margin-top: -53px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: black;
}

.p1content2 {
    margin-left: 440px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #121214;
}

.pattern2 {
    display: flex;
    margin-left: 750px;
    margin-top: -68px;
}

.p2content1 {
    margin-left: 820px;
    margin-top: -50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: black;
}

.p2content2 {
    margin-left: 820px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

.pattern3 {
    display: flex;
    margin-left: 1150px;
    margin-top: -78px;
}

.p3content1 {
    margin-left: 1220px;
    margin-top: -40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: black;
}

.p3content2 {
    margin-left: 1220px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

.leftFeature {
    width: 31%;
    margin-left: 200px;
    padding-top: 110px;
    display: flex;
}

.content3 {
    margin-left: 1000px;
    margin-top: -300px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: #0B132A;
}

.content4 {
    margin-left: 1000px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4F5665;
}

.list {
    margin-left: 960px;
    list-style: none;
    padding-right: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

.img {
    padding-right: 10px;
}

.heading1 {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-top: 250px;
}

.subheading1 {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #4F5665;
}

.rectangle1 {
    margin-left: 240px;
    width: 18%;
}

.profitPlans {
    margin-left: -230px;
    margin-bottom: 470px;
}

.plan1 {
    margin-left: 350px;
    position: absolute;
    margin-top: -450px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.freePlan {
    margin-left: 275px;
    margin-top: -380px;
    list-style: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    color: #4F5665;
}

.checklistSymbol {
    padding-right: 8px;
}

.offer1 {
    margin-left: 360px;
    margin-top: 70px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.btn2 {
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    background: #FFFFFF;
    border: 3px solid #F53838;
    border-radius: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 19px;
    color: #F53838;
    padding: 8px 40px;
    box-sizing: border-box;
}

.rectangle2 {
    position: absolute;
    margin-left: 720px;
    width: 18%;
    margin-top: -600px;
}

.standardPlans {
    position: absolute;
    margin-left: 780px;
    margin-top: -550px;
}

.plan2 {
    position: absolute;
    margin-left: 800px;
    margin-top: -360px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.standardPlan {
    position: absolute;
    list-style: none;
    margin-left: 740px;
    margin-top: -290px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    color: #4F5665;
}

.offer2 {
    position: absolute;
    margin-left: 820px;
    margin-top: -30px;
    font-family: 'Rubik';
    font-style: bold;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.btn3 {
    position: absolute;
    margin-left: 790px;
    margin-top: 25px;
    background: #FFFFFF;
    border: 3px solid #F53838;
    border-radius: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 19px;
    color: #F53838;
    padding: 8px 40px;
    box-sizing: border-box;
}

.rectangle3 {
    position: absolute;
    margin-left: 1200px;
    margin-top: -600px;
    width: 18%;
}

.premiumPlan {
    position: absolute;
    margin-left: 1280px;
    margin-top: -550px;
}

.plan3 {
    position: absolute;
    margin-left: 1300px;
    margin-top: -362px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.premiumPlans {
    position: absolute;
    margin-left: 1240px;
    margin-top: -300px;
    list-style: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    color: #4F5665;
}

.offer3 {
    position: absolute;
    margin-left: 1310px;
    margin-top: -20px;
    font-family: 'Rubik';
    font-style: bold;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.btn4 {
    position: absolute;
    margin-left: 1290px;
    margin-top: 30px;
    background: #F53838;
    border: 3px solid #F53838;
    border-radius: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: white;
    padding: 8px 40px;
    box-sizing: border-box;
}

.heading2 {
    /* position: absolute; */
    margin-top: 300px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: #0B132A;
}

.subheading2 {
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #4F5665;
}

.worldMap {
    margin-left: 350px;
    margin-top: 140px;
    width: 60%;
}

.sponsors {
    margin-left: 300px;
}

.heading3 {
    text-align: center;
    margin-left: 90px;
    margin-top: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
}

.subheading3 {
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #4F5665;
}

.rectangle4 {
    margin-left: 270px;
    margin-top: 80px;
}

.customer1 {
    position: absolute;
    margin-left: -370px;
    margin-top: 120px;
    width: 3%;
}

.customerName1 {
    margin-left: 400px;
    margin-top: -199px;
    font-family: 'Rubik';
    font-style: bold;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.customerLocation1 {
    margin-left: 400px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #4F5665;
}

.customerRating1 {
    margin-left: 570px;
    margin-top: -40px;
    font-weight: bold;
}

.star1 {
    position: absolute;
    margin-left: 600px;
    width: 1.7%;
    margin-top: -27px;
}

.customerReview1 {
    margin-left: 300px;
    margin-top: 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #0B132A;
}

.rectangle5 {
    position: absolute;
    margin-left: 781px;
    margin-top: -200px;
}

.customer2 {
    position: absolute;
    margin-left: 820px;
    margin-top: -164px;
}

.customerName2 {
    margin-left: 930px;
    margin-top: -160px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 501;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.customerLocation2 {
    margin-left: 930px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #4F5665;
}

.customerRating2 {
    margin-left: 1100px;
    margin-top: -40px;
    font-weight: bold;
}

.star2 {
    position: absolute;
    margin-left: 1127px;
    margin-top: -28px;
    width: 1.7%;
}

.customerReview2 {
    margin-left: 821px;
    margin-top: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #0B132A;
}

.rectangle6 {
    margin-left: 1288px;
    margin-top: -152px;
}

.customer3 {
    position: absolute;
    margin-left: 1335px;
    margin-top: -200px;
}

.customerName3 {
    margin-left: 1430px;
    margin-top: -200px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.customerLocation3 {
    margin-left: 1430px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #4F5665;
}

.customerRating3 {
    margin-left: 1595px;
    margin-top: -50px;
    font-weight: 700;
}

.star3 {
    position: absolute;
    margin-left: 1625px;
    margin-top: -26px;
    width: 1.7%;
}

.customerReview3 {
    margin-left: 1337px;
    margin-top: 40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #0B132A;
}

.option {
    margin-top: 140px;
    margin-left: 275px;
}

.leftArrow {
    display: flex;
    margin-left: 1350px;
    margin-top: -45px;
}

.rightArrow {
    display: flex;
    margin-left: 1390px;
    margin-top: -92px;
}

.rectangle7 {
    margin-left: 280px;
    box-shadow: 0 3px 10px;
}

.heading4 {
    margin-left: 350px;
    margin-top: -200px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
}

.subheading4 {
    margin-left: 350px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #4F5665;
}

.btn5 {
    position: absolute;
    margin-left: 1150px;
    margin-top: -80px;
    border-radius: 10px;
    padding: 15px 40px;
    background-color: #F53838;
    color: #FFFFFF;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

.footer {
    background-color: #F8F8F8;
    width: 100%;
}

.logo2 {
    margin-top: 240px;
    margin-left: 280px;
}

.subheading5 {
    margin-left: 280px;
    margin-top: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #4F5665;
}

.facebookIcon {
    margin-left: 250px;
    margin-top: 30px;
    width: 5%;
}

.twitterIcon {
    display: flex;
    margin-left: 330px;
    margin-top: -87px;
    width: 5%;
}

.instagramIcon {
    display: flex;
    margin-left: 410px;
    margin-top: -87px;
    width: 5%;
}

.copyright {
    margin-top: -10px;
    margin-left: 280px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #AFB5C0;
}

.product {
    margin-left: 950px;
    margin-top: -230px;
    font-size: 17px;
}

.list1 {
    margin-left: 910px;
    list-style: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.engage {
    margin-left: 1180px;
    margin-top: -230px;
    font-weight: bold;
    font-size: 17px;
}

.list2 {
    margin-left: 1140px;
    list-style: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.earnMoney {
    margin-left: 1400px;
    margin-top: -230px;
    font-weight: bold;
    font-size: 17px;
}

.list3 {
    margin-left: 1370px;
    list-style: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

/* mobile design */